extends ../layouts/default

block content
    .container
        .login-form
            .main-div
                .panel
                    h2 Forgot Password?
                form(method='post')
                    .form-group
                        input#inputEmail.form-control(type='email',name='email', placeholder='Email Address')
                    button.btn.btn-primary(type='submit') Login