extends ../layouts/default

block content
    .container
        .login-form
            .main-div
                .panel
                    h2 Reset Password
                form(method='post')
                    .form-group
                        input#inputEmail.form-control(type='password',name='password', placeholder='Password')
                    .form-group
                        input#inputPassword.form-control(type='password',name='password_confirm', placeholder='Confirm Password')
                    .forgot
                        a(href='reset.html') Forgot password?
                    button.btn.btn-primary(type='submit') Login