doctype html
html(lang="en")
	head
	body
		h1 You recently requested a link to reset your password
		p= `Hello ${user.name.first},`
		p Please set a new password by following the link below:
		a.link(href=link) Click Here
		